@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --ff: "Inter", sans-serif;
}

body{
    font-family: var(--ff);
}
ul{
    color: var(--dark-grayish-blue);
}
.desktop-nav li:hover{
    cursor: pointer;
    color: var(--soft-orange);
}
.mobile-nav{
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 20px;
    padding-top: 4rem;
}
.hamburger-icon{
    margin: 1rem 0 0 20rem;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
}
/* texts-under-section-1 */
.web-image-2{
    display: none;
}
.text-2{
    font-size: 15px;
    color: var(--dark-grayish-blue);
}
.btn{
    background-color: var(--soft-red);
    border: none;
    border-radius: 0;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
/* section-2 */
.section-2{
    background-color: var(--very-dark-blue);
}
h2{
    color: var(--soft-orange);
}
.heading-cars{
    color: var(--off-white);
}
.heading-AI{
    color: var(--off-white);
}
.heading-funding{
    color: var(--off-white);
}
p{
    color: var(--grayish-blue);
    font-size: 15px;
}
hr{
    color: var(--grayish-blue);
}
/* image section */
.image-01{
    width: 6rem;
}
.image-02{
    width: 6rem;
}
.image-03{
    width: 6rem;
}
h3{
    color: var(--soft-red);
    font-weight: 800;
}
.pTag{
    color: var(--dark-grayish-blue);
}

@media(max-width:428px){
    .web-image-2{
        display: flex;
        width: 100%;
    }
    .text-1{
        font-weight: 800;
        padding-top: 1rem;
    }
    .section-2{
        margin-top: 3rem;
    }

}

