@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --ff: "Inter", sans-serif;
}

body{
    font-family: var(--ff);
}
ul{
    color: var(--dark-grayish-blue);
}
.desktop-nav li:hover{
    cursor: pointer;
    color: var(--soft-red);
}
.mobile-nav{
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 20px;
    padding-top: 4rem;
}
.hamburger-icon{
    margin: 1rem 0 0 20rem;
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
}
.web-image-1{
    padding-left: 0.6rem;
}
.web-image-2{
    display: none;
}
/* texts-under-section-1 */
.text-1{
    font-size: 3rem;
    font-weight: 800;
    color: var(--very-dark-blue);
}
.text-2{
    font-size: 15px;
    color: var(--dark-grayish-blue);
}
.btn{
    background-color: var(--soft-red);
    color: var(--very-dark-blue);
    border: none;
    border-radius: 0;
    font-size: 15px;
    min-width: 50%;
    min-height: 25%;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
/* section-2 */
.div-sec-2{
    background-color: var(--very-dark-blue);
    /* min-height: 90%; */
}
h2{
    color: var(--soft-orange);
    font-weight: 700;
    padding: 1rem 0;
}
.hTag{
    color: var(--off-white);
}
.hTag:hover{
    cursor: pointer;
    color: var(--soft-orange);
}
.pTag{
    color: var(--grayish-blue);
    font-size: 15px;
    padding-bottom: 1rem;
}
hr{
    color: var(--grayish-blue);
}
/* image section */
.image-01{
    width: 6rem;
}
.image-02{
    width: 6rem;
}
.image-03{
    width: 6rem;
}
h3{
    color: var(--soft-red);
    font-weight: 800;
}
h6{
    font-size: 18px;
    color: var(--very-dark-blue);
}
h6:hover{
    cursor: pointer;
    color: var(--soft-red);
}
p{
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
}

@media(max-width:428px){
    .web-image-2{
        display: flex;
        width: 100%;
    }
    .text-1{
        font-weight: 800;
        padding-top: 2rem;
    }
    .btn{
        margin-bottom: 2rem;
    }
     .section-2{
        margin-top: 3rem;
     }
    .div-sec-2{
        margin: 0 0.6rem; 
    }
    h2{
        font-size: 30px;
    }
    .div-image{
        padding-bottom: 4rem;
        margin-top: 1rem ;
    }
    h3{
        font-size: 30px;
    }
    h6{
        font-weight: 800;
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
}

